h1.myProjects {
  text-align: center;
  color: #fff;
}
.cardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  .card {
    margin: 40px 0;
    width: 90vw;
    .cardContent {
      background-color: var(--hot-pink);
    }
  }
}
@media screen and (min-width: 768px) {
  .cardContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
